[submodule "doc/styleguide"]
	path = docs/styles/styleguide
	url = https://github.com/google/styleguide/
[submodule "docs/styles/styleguide"]
	path = docs/styles/styleguide
	url = https://github.com/google/styleguide
